{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "9"
                }
            }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        "safe-require",
        "transform-decorators-legacy"
    ],
    "comments": false,
    "sourceMaps": false
}
