{
    "presets": [
        "minify",
        [
            "env",
            {
                "targets": {
                    "node": "9"
                }
            }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        //[
        //    "transform-runtime",
        //    {
        //        "helpers": false,
        //        "polyfill": false,
        //        "regenerator": true,
        //        "moduleName": "babel-runtime"
        //    }
        //],
        "interop-require",
        "transform-decorators-legacy"
        //"transform-export-extensions"
    ],
    //"comments": false,
    //"compact": true,
    //"minified": true,
    //"passPerPreset": true,
    "babelrc": false,
    "sourceMaps": true
}
